<div class="active-user">
  <div>
    <img src="/assets/img/batman.jpg" alt="">
    <img src="/assets/img/captain.jpg" alt="">
    <img src="/assets/img/batman.jpg" alt="">
    <img src="/assets/img/captain.jpg" alt="">
    <img src="/assets/img/batman.jpg" alt="">
  </div>
  <div>
    <span class="bigNumber">{{activeUsers}}</span>
    <span>65 Users since last month</span>
    <div class="boldText">People are currently active</div>
  </div>
  <div>
    <span class="bigNumber">15650</span>
    <span>2135 Users since last month</span>
    <div class="boldText">People are currently enrolled</div>
  </div>
</div>