<div class="header-component">
  <div class="d-inline">
      <img src="/assets/img/logo.PNG" alt="Logo">
  </div>
  <div class="d-inline search"> <input type="text"> Search</div>
  <div class="d-inline">
    <div class="d-inline">Calender</div>
    <div class="d-inline">Notifications</div>
    <div class="d-inline">
      <div class="d-inline">
        <span class="userImag">User</span>
      </div>
      <div class="d-inline">
        <span>Wasim Khan</span>
      </div>
    </div>
  </div>
</div>
<div class="welcomeHead">
  <img class="d-inline" src="/assets/img/user.jpg" alt="user" height="60px" width="60px">
  <div class="d-inline">
    <h4 class="d-inline">Hello Wasim</h4>
    <br>
    <span>Let's take a look at how your organization is learning</span>
  </div>
</div>