.row{
    margin: 0 !important;
}
.row [class^="col"]{
    padding: 0 !important;
}

.row .col-md-3{
    background-color: #fff;
}
.activeUsers img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: -30px;
}
.activeUsers img:first-child{
    margin-left: 0;
}