<div>
    <div class="widget-category">
      <div class="widget-heading">
        Learning activities at a glance
      </div>
    </div>
  <div class="row">
    <div class="col-md-3 widget-block">
        <div class="activeUsers">
          <div class="headingText">
            <div class="d-inline">Active Users</div>
            <div class="d-inine float-right"> <i class="far fa-question-circle"></i> </div>
          </div>
          <app-active-users></app-active-users>
        </div>
    </div>
    <div class="col-md-3 widget-block">
        <div class="activeUsers">
          <div class="headingText">
            <div class="d-inline">Learner Engagement</div>
            <div class="d-inine float-right"> <i class="far fa-question-circle"></i> </div>
          </div>
          <app-learner-engagement></app-learner-engagement>
        </div>
    </div>
    <div class="col-md-3 widget-block">
      <div class="activeUsers">
        <div class="headingText">
          <div class="d-inline">Learner Pace</div>
          <div class="d-inine float-right"> <i class="far fa-question-circle"></i> </div>
        </div>
        <app-learner-pace></app-learner-pace>
      </div>
    </div>
    <div class="col-md-3 widget-block">
      <div class="activeUsers">
        <div class="headingText">
          <div class="d-inline">Feedback</div>
          <div class="d-inine float-right"> <i class="far fa-question-circle"></i> </div>
        </div>
        <app-feedback></app-feedback>
      </div>
    </div>
  </div>

</div>